@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
html {
  background-color: #EFF1F3;
  font-family: "Mukta", sans-serif;
  color: #272727;
  margin: 0;
}
html body {
  margin: 0px;
}
html body img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
html body nav {
  background-color: #272727;
  color: #EFF1F3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
html body nav h1, html body nav h2 {
  margin: 0 10px;
}
html body nav h2 {
  font-size: 14px;
}
html body nav div.right-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body nav div.right-btn a {
  cursor: pointer;
  text-decoration: none;
  color: #EFF1F3;
}
html body nav div.right-btn a:nth-child(1) {
  border: 1px solid #EFF1F3;
  padding: 10px 15px;
  margin: 0 10px;
}
html body nav div.right-btn a:nth-child(2) {
  padding: 10px;
  border: 1px solid #EFF1F3;
  margin: 0 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body nav div.right-btn a:hover {
  background-color: #EFF1F3;
  color: #272727;
}
html body .search-input {
  width: 80%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: right;
}
html body .search-input input {
  padding: 10px 15px;
  outline: none;
  background-color: #272727;
  color: #EFF1F3;
  border: 1px solid #272727;
  margin: 0 5px;
}
html body .search-input input::-moz-placeholder {
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
html body .search-input input:-ms-input-placeholder {
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
html body .search-input input::placeholder {
  transition: all 0.35s ease-in-out;
}
html body .search-input input:focus::-moz-placeholder {
  transform: translateX(-50%);
}
html body .search-input input:focus:-ms-input-placeholder {
  transform: translateX(-50%);
}
html body .search-input input:focus::placeholder {
  transform: translateX(-50%);
}
html body .search-input button {
  padding: 10px 15px;
  outline: none;
  background-color: #272727;
  color: #EFF1F3;
  border: 1px solid #272727;
  margin: 0 5px;
  cursor: pointer;
}
html body .search-input address {
  margin-right: 20%;
}
html body .list-file {
  width: 80%;
  margin: 20px auto;
  padding-bottom: 200px;
}
html body .list-file h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px 0;
}
html body .list-file h3 a {
  display: block;
  text-decoration: none;
  padding: 10px 15px;
  color: #272727;
  border: 1px solid #272727;
}
html body .list-file h3 a:hover {
  background-color: #272727;
  color: #EFF1F3;
}
html body .list-file ul {
  list-style-type: none;
  padding: 20px 0;
}
html body .list-file ul li {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  border-bottom: 1px solid #272727;
}
html body .list-file ul li a {
  text-decoration: none;
  color: #272727;
}
html body .list-file ul li a:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .list-file ul li a:nth-child(1) img {
  margin-right: 20px;
}
html body .list-file ul li a:nth-child(1):hover {
  color: #DB162F;
}
html body .list-file ul li .LocalClipBoard {
  cursor: copy;
}
html body .list-file ul li .LocalClipBoard:hover {
  color: #DB162F;
}
html body .list-file ul li.reverse a {
  flex-direction: row-reverse;
}
html body .list-file ul li:last-child {
  border-bottom: none;
}
html body .iframeAddons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}
html body .iframeAddons.active {
  display: flex;
}
html body .iframeAddons iframe {
  width: 80%;
  height: 80%;
  background-color: white;
}
html body .search-pop-up {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  transition: all 0.35s ease-in-out;
}
html body .search-pop-up.active {
  transform: translate(0%, -50%);
}
html body .search-pop-up .content #AdvencedName {
  padding: 10px 15px;
  outline: none;
  background-color: #272727;
  color: #EFF1F3;
  border: 1px solid #EFF1F3;
  margin: 0 5px;
}
html body .search-pop-up .content #AdvencedName::-moz-placeholder {
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
html body .search-pop-up .content #AdvencedName:-ms-input-placeholder {
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
html body .search-pop-up .content #AdvencedName::placeholder {
  transition: all 0.35s ease-in-out;
}
html body .search-pop-up .content #AdvencedName:focus::-moz-placeholder {
  transform: translateX(-50%);
}
html body .search-pop-up .content #AdvencedName:focus:-ms-input-placeholder {
  transform: translateX(-50%);
}
html body .search-pop-up .content #AdvencedName:focus::placeholder {
  transform: translateX(-50%);
}
html body .search-pop-up .content #AdvencedSubmit {
  padding: 10px 15px;
  outline: none;
  background-color: #272727;
  color: #EFF1F3;
  border: 1px solid #EFF1F3;
  margin: 0 5px;
  cursor: pointer;
}
html body .search-pop-up .content .close {
  position: absolute;
  top: 20px;
  right: 20px;
}
html body .search-pop-up .content .close a {
  color: #EFF1F3;
  cursor: pointer;
}
html body .pop-up-parameter {
  background-color: #EFF1F3;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #272727;
  display: none;
  z-index: 1000000000000000300000000000;
}
html body .pop-up-parameter .containeur-mid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr;
  grid-template-areas: "choix changeZone";
}
html body .pop-up-parameter .containeur-mid .leave {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #272727;
  border-radius: 4px;
}
html body .pop-up-parameter .containeur-mid .leave:hover {
  background-color: #272727;
  color: #EFF1F3;
}
html body .pop-up-parameter .containeur-mid .choise {
  grid-area: choix;
  height: 100%;
}
html body .pop-up-parameter .containeur-mid .choise ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  border-right: 1px solid #272727;
}
html body .pop-up-parameter .containeur-mid .choise ul li {
  width: 100%;
  padding: 0;
  padding: 20px 0px;
  border-bottom: 1px dotted #272727;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
html body .pop-up-parameter .containeur-mid .choise ul li.active {
  background-color: #272727;
  color: #EFF1F3;
}
html body .pop-up-parameter .containeur-mid .choise ul li.active:hover {
  background-color: #343434;
}
html body .pop-up-parameter .containeur-mid .choise ul li:hover {
  background-color: #747474;
  color: #EFF1F3;
}
html body .pop-up-parameter .containeur-mid .changeZone {
  grid-area: changeZone;
  padding: 50px;
}
html body .pop-up-parameter .containeur-mid .changeZone > div {
  display: none;
}
html body .pop-up-parameter .containeur-mid .changeZone > div.active {
  display: block;
}
html body .pop-up-parameter .containeur-mid .changeZone > div.reponse {
  display: block;
  position: absolute;
  bottom: 15px;
  text-align: center;
  color: #34b70c;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces {
  height: 100%;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .selecteur {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .selecteur select {
  max-width: 200px;
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #EFF1F3;
  border: 1px solid #272727;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .selecteur select option {
  border-radius: none;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .acces-element {
  width: 80%;
  display: none;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .acces-element.active {
  display: block;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .acces-element form {
  padding: 15px 0;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .acces-element form input {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #EFF1F3;
  border: 1px solid #272727;
  margin: 0 2px;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .acces-element form input[type=submit] {
  cursor: pointer;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .acces-element form input[type=submit]:hover {
  background-color: #272727;
  color: #EFF1F3;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .create-acces {
  border-top: 1px solid #272727;
  margin-top: 15px;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .create-acces form {
  padding: 15px 0;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .create-acces form input {
  padding: 10px 15px;
  border-radius: 4px;
  background-color: #EFF1F3;
  border: 1px solid #272727;
  margin: 0 2px;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .create-acces form input[type=submit] {
  cursor: pointer;
}
html body .pop-up-parameter .containeur-mid .changeZone .acces .create-acces form input[type=submit]:hover {
  background-color: #272727;
  color: #EFF1F3;
}
html body .addons {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body .addons .cells {
  display: block;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
html body .addons .cells .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}/*# sourceMappingURL=style.css.map */