@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
html {

    background-color: #EFF1F3;
    font-family: 'Mukta', sans-serif;
    color: #272727;
    margin: 0;
    
    body {

        margin: 0px;

        img {

            width: 50px;
            height: 50px;
            object-fit: contain;
            object-position: center;

        }

        nav {

            background-color: #272727;
            color: #EFF1F3;
    
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 40px;
    
            h1,h2 {

                margin: 0 10px;

            }

            h2 {

                font-size: 14px;

            }

            div.right-btn {

                display: flex;
                justify-content: center;
                align-items: center;

                a {

                    cursor: pointer;
                    text-decoration: none;
                    color: #EFF1F3;

                    &:nth-child(1) {

                        border: 1px solid #EFF1F3;
                        padding: 10px 15px;
                        margin: 0 10px;

                    }

                    &:nth-child(2) {

                        padding: 10px;
                        border: 1px solid #EFF1F3;
                        margin: 0 10px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                    }

                    &:hover {

                        background-color: #EFF1F3;
                        color: #272727;

                    }

                }

            }

        }

        .search-input {

            width: 80%;
            margin: 40px auto;
            display: flex;
            align-items: center;
            justify-content: right;

            input {

                padding: 10px 15px;
                outline: none;
                background-color: #272727;
                color: #EFF1F3;
                border: 1px solid #272727;
                margin: 0 5px;

                &::placeholder {

                    transition: all 0.35s ease-in-out;

                }

                &:focus {

                    &::placeholder {

                        transform: translateX(-50%);

                    }

                }

            }

            button {

                padding: 10px 15px;
                outline: none;
                background-color: #272727;
                color: #EFF1F3;
                border: 1px solid #272727;
                margin: 0 5px;
                cursor: pointer;

            }

            address {

                margin-right: 20%;

            }

        }

        .list-file {

            width: 80%;
            margin: 20px auto;
            padding-bottom: 200px;

            h3 {

                width: fit-content;
                margin: 30px 0;

                a {

                    display: block;
                    text-decoration: none;
                    padding: 10px 15px;
                    color: #272727;
                    border: 1px solid #272727;

                    &:hover {

                        background-color: #272727;
                        color: #EFF1F3;
    
                    }

                }

            }

            ul {

                list-style-type: none;
                padding: 20px 0;

                li  {

                    display: flex;
                    justify-content: space-between;
                    padding: 20px 0;
                    align-items: center;
                    border-bottom: 1px solid #272727;

                    a {
                        text-decoration: none;
                        color: #272727;
                        &:nth-child(1) {

                            display: flex;
                            justify-content: center;
                            align-items: center;
                            img {

                                margin-right: 20px;

                            }
                            &:hover {

                                color: #DB162F;

                            }
                        }

                    }

                    .LocalClipBoard {

                        cursor: copy;
                        &:hover {

                            color: #DB162F;
                            
                        }

                    }
                    &.reverse {

                        a {

                            flex-direction: row-reverse;

                        }

                    }

                    &:last-child {

                        border-bottom: none;

                    }
                }

            }

        }

        .iframeAddons {

            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
            display: none;
            
            &.active {

                display: flex;

            }
            
            iframe {

                width: 80%;
                height: 80%;
                background-color: white;

            }

        }

        .search-pop-up {

            position: fixed;
            top: 50%;
            right: 0;
            transform: translate(100%,-50%);
            width: 60%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #272727;
            transition: all 0.35s ease-in-out;

            &.active {

                transform: translate(0%,-50%);

            }

            .content {

                #AdvencedName {

                    padding: 10px 15px;
                    outline: none;
                    background-color: #272727;
                    color: #EFF1F3;
                    border: 1px solid #EFF1F3;
                    margin: 0 5px;

                    &::placeholder {

                        transition: all 0.35s ease-in-out;

                    }

                    &:focus {

                        &::placeholder {

                            transform: translateX(-50%);

                        }

                    }

                }

                #AdvencedSubmit {

                    padding: 10px 15px;
                    outline: none;
                    background-color: #272727;
                    color: #EFF1F3;
                    border: 1px solid #EFF1F3;
                    margin: 0 5px;
                    cursor: pointer;

                }

                .close {

                    position: absolute;
                    top: 20px;
                    right: 20px;

                    a {

                        color: #EFF1F3;
                        cursor: pointer;

                    }

                }

            }

        }

        .pop-up-parameter {
            background-color: #EFF1F3;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: #272727;
            display: none;
            z-index: 999999999999999999999999999;

            .containeur-mid {

                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr 7fr;
                grid-template-rows: 1fr;
                grid-template-areas: "choix changeZone";

                .leave {

                    position: absolute;
                    top: 30px;
                    right: 30px;
                    cursor: pointer;
                    padding: 10px 15px;
                    border: 1px solid #272727;
                    border-radius: 4px;

                    &:hover {

                        background-color: #272727;
                        color: #EFF1F3;

                    }

                }

                .choise {
                    grid-area: choix;
                    height: 100%;

                    ul {

                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        list-style-type: none;
                        overflow: auto;
                        border-right: 1px solid #272727;
                        
    
                        li {
    
                            width: 100%;
                            padding: 0;
                            padding: 20px 0px;
                            border-bottom: 1px dotted #272727;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-transform: uppercase;
                            cursor: pointer;

                            &.active {

                                background-color: #272727;
                                color: #EFF1F3;

                                &:hover {

                                    background-color: #343434;

                                }

                            }

                            &:hover {

                                background-color: #747474;
                                color: #EFF1F3;

                            }
    
                        }
    
                    }

                }

                .changeZone {

                    grid-area: changeZone;
                    padding: 50px;
                    
                    &>div {

                        display: none;

                        &.active {

                            display: block;

                        }

                        &.reponse {

                            display: block;
                            position: absolute;
                            bottom: 15px;
                            text-align: center;
                            color: #34b70c;

                        }

                    }

                    .acces {
                        height: 100%;

                        .selecteur {

                            margin: 20px 0;
                            display: flex;
                            flex-direction: column;

                            select {
                                max-width: 200px;

                                margin-top: 20px;
                                padding: 10px 15px;
                                border-radius: 4px;
                                background-color: #EFF1F3;
                                border: 1px solid #272727;

                                option {

                                    border-radius: none;

                                }

                            }

                        }

                        .acces-element {

                            width: 80%;
                            display: none;

                            &.active {

                                display: block;

                            }

                            form {

                                padding: 15px 0;

                                input {

                                    padding: 10px 15px;
                                    border-radius: 4px;
                                    background-color: #EFF1F3;
                                    border: 1px solid #272727;
                                    margin: 0 2px;

                                    &[type=submit] {

                                        cursor: pointer;
                                        &:hover {

                                            background-color: #272727;
                                            color: #EFF1F3;
                                            
                                        }

                                    }

                                }

                            }

                        } 

                        .create-acces {

                            border-top: 1px solid #272727;
                            margin-top: 15px;

                            form {

                                padding: 15px 0;

                                input {

                                    padding: 10px 15px;
                                    border-radius: 4px;
                                    background-color: #EFF1F3;
                                    border: 1px solid #272727;
                                    margin: 0 2px;

                                    &[type=submit] {

                                        cursor: pointer;
                                        &:hover {

                                            background-color: #272727;
                                            color: #EFF1F3;
                                            
                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

        .addons {

            position: fixed;
            width: 100%;
            bottom: 0;
            padding: 10px 0;
            background-color: #272727;
            display: flex;
            justify-content: center;
            align-items: center;

            .cells {

                display: block;
                background-color: white;
                width: 50px;
                height: 50px;
                border-radius: 10px;
                margin: 0 10px;
                cursor: pointer;
                position: relative;

                .logo {

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                    height: 80%;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                }

            }

        }
        
    }

}

